body{
	background-color:black;
	font-size: 24px;
}
nav
{
	font-size:.75em;
}
.navbar-toggle{
	border:1px solid white;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.navbar-toggle span{
	color:black;
}

h1{
	color:white;
}

h2{
	color:white;
}

h3{
	color:white;
}

p{
	color:white;
}

a{
	color:white;
}

span{
	color:white;
}

hr{
	padding:0;
	margin:0;
}

button, button.btn{
	margin-top:20px;
	background-color: rgba(255,0,0, .3);
	color:white;
	font-weight: bold;
	border:1px solid red;
}



/* not working*/
nav.mainNavigation a:hover{
	background-color:black;
}

.preFooter span{
	vertical-align: bottom;
	padding-bottom: 20px;

}


.btnContactFormSubmit{
	height:40px;

}

.preFooter{
	
	font-size:.75em;
}

.footerContainer
{
	background-color:gray;
}

.contactFormContainer
{
	border:2px solid red;
	border-radius: 5px;
}



hr.contactFormHr{
	margin-bottom:.5em;
	color:white;
	border-color:white;
}

hr.bottomHr{
	margin-top:1em;
	color:white;
}

.contactForm input[type=text]
{
	background-color: rgba(255,0,0,.2);
	border-radius: 2px;
	border:none;
	margin:5px;
	height:40px;
	width: 90%;
}

#contactFormUsertextInput{
	text-indent:0;
	text-align:left!important;
	display:block;
  	overflow:hidden;
  	height:200px;
	background-color: rgba(0,0,255,.2);
}








/*               tablets                   */
@media screen and (max-width: 992px) {

	body{
		font-size:16px;
	}




}

	/*               tablets                   */
@media screen and (max-width: 768px) {

	body{
		font-size:14px;
	}




}